<section>
    <div class="server-body">
        <h3>Server Example Output</h3>
        <span>Service data on "{{ url }}/messages": </span>
        <ul style="list-style: none;">
            [
            {% for message_1 in messages_1 %}
                <li>
                    <p>{ id: {{ message_1.id }}, counter: {{ message_1.counter }}, message: '{{ message_1.message }}' }{% if not loop.last %},{% endif %}</p>
                </li>
            {% endfor %}
            ...
            {% for message_2 in messages_2 %}
                <li>
                    <p>{ id: {{ message_2.id }}, counter: {{ message_2.counter }}, message: '{{ message_2.message }}' }{% if not loop.last %},{% endif %}</p>
                </li>
            {% endfor %}
            ]
            <li>
                <p><strong>SUM Counter:  {{ counters }}</strong></p>
            </li>
        </ul>
    </div>
    <div class="client-body">
        <hr>
        <h3>Client Example Output</h3>
        <h4>Examples Querying</h4>
    </div>
    <div class="server-footer"></div>
</section>
